body {
background-image: radial-gradient(white,rgb(2, 204, 255),rgb(106, 0, 255));
}

section {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    min-height: 77.5vh;
}

aside section {
    display: flex;
    align-items: center;
}

aside div {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30.333%;
    align-items: center;
    background-color: mediumslateblue;
    border-radius: 51.775pt;
}