body {
background-image: radial-gradient(white,rgb(2, 204, 255),rgb(106, 0, 255));
}

section {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    min-height: 77.5vh;
}

aside section {
    display: flex;
    align-items: center;
}

aside div {
    display: flex;
    flex-direction: column;
}